@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  box-sizing: border-box;
  margin: 0%;
  height: 100%;
}

@font-face {
  font-family: "brand";
  src: url("/fonts/NoeDisplay-Medium.ttf");
}

@font-face {
  font-family: "heading1";
  src: url("/fonts/Charter-Bold.ttf");
}

@font-face {
  font-family: "heading2";
  src: url("/fonts/MaratPro-Bold.otf");
}

@font-face {
  font-family: "text";
  src: url("/fonts/Neo-Sans-Std-Regular.otf");
}

@font-face {
  font-family: "button";
  src: url("/fonts/Bitter-VariableFont_wght.ttf");
}

.logo {
  padding: 0 1rem 3.5px 7rem;
  min-width: 290px;
}

.logo a {
  color: #242424;
  letter-spacing: 1.5px;
  font-family: "brand";
  font-size: 25px;
  text-decoration: none;
}

.logo a:hover {
  color: #0056b3;
  text-decoration: none;
}

.navBar {
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 4rem;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 10;
  min-width: 1395px;
}

li {
  display: table-cell;
}

ul {
  display: table;
  list-style: none;
  overflow: hidden;
  text-align: center;
}

a {
  text-decoration: none;
}

.tabs a {
  color: #5e5e5e;
  font-family: "button";
  letter-spacing: 0.05em;
  padding: 10px 15px;
}

a:after {
  /* underline */
  /* background: #242424; */
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  width: 0;
}

/* .home {
  padding: 7px 20px;
}

.about {
  padding: 7px 20px;
}

.contact {
  padding: 7px 20px;
} */

.tabs li a:hover {
  color: #fe7768;
  text-decoration: none;
}

.tabs a.active {
  color: #0056b3;
  left: 3%;
  width: 90%;
}

.tabs a.active:after {
  color: #0056b3;
  left: 3%;
  width: 90%;
}

.btnSignIn1 {
  background-color: #0056b3;
  border: 1px solid #0056b3;
  border-radius: 5px;
  font-size: medium;
  width: 6.5em;
  height: 35px;
  margin-left: 40rem;
}

.btnSignIn1 a {
  color: #fff;
  padding: 15px;
}

.btnSignIn1 a:hover {
  color: #ffffff;
}

.btnSignIn1:hover {
  background-color: #063c75;
  /* color: #0056b3; */
}

.btnUploadCar {
  border: 1px solid #ed893e;
  background-color: #ed893e;
  /* background-color: #fe7768;
  border: 1px solid #fe7768; */
  border-radius: 5px;
  font-size: medium;
  width: 8em;
  height: 35px;
  margin-top: 2rem;
  float: left;
  /* margin: 5rem 0; */
}

.btnUploadCar a {
  color: #fff;
  padding: 15px;
}

.btnUploadCar a:hover {
  color: #ffffff;
}

.btnUploadCar:hover {
  background-color: #df7b30;
  border: 1px solid #df7b30;
}

.btnBookHome {
  color: #fff;
  background-color: #0056b3;
  border: 1px solid #0056b3;
  border-radius: 5px;
  font-size: medium;
  width: 8em;
  height: 33px;
  /* margin-left: 8rem; */
}

.btnSignOut {
  color: #fff;
  background-color: #f2636c;
  border: 1px solid #f2636c;
  border-radius: 5px;
  float: right;
  margin-right: 1rem;
  font-size: medium;
  width: 7em;
  height: 35px;
  margin-top: -3rem;
}

.btnSignOut a {
  color: #fff;
}

.btnSignOut:hover {
  background-color: #c52835;
}

.btnBookHome:hover {
  background-color: #063c75;
  border: 1px solid #063c75;
}

.btnBookHome a:hover {
  color: #fff;
}

.btnBookHome a {
  color: #fff;
  padding: 5px 8.8px;
}

.imgCarHome1 {
  float: right;
  width: 35rem;
  margin-top: -15rem;
}

hr {
  width: 100%;
  border: 1px solid #ccc;
  opacity: 0.5;
}

.hr1 {
  margin-top: 8rem;
}

.hr2 {
  margin-bottom: 2rem;
}

.imgCarHome2 {
  margin-top: 5rem;
  float: left;
  width: 35rem;
  transform: rotate(-2.5deg);
  /* margin-bottom: 10rem; */
}

.imgAbout {
  float: right;
  width: 50em;
  margin-top: -35rem;
  margin-bottom: 15rem;
}

.imgBooking {
  float: right;
  width: 30rem;
  margin-top: -18rem;
}

.imgBookingAdmin {
  float: right;
  width: 30rem;
  margin-top: -35rem;
}

.imgUpload {
  float: right;
  width: 40rem;
  margin-top: 3rem;
}

.imgContact {
  float: left;
  width: 35rem;
  margin-top: 2rem;
}

.btnSignIn3 {
  background-color: #fff;
  border: 1px solid #0056b3;
  border-radius: 5px;
  font-size: medium;
  width: 8em;
  height: 33px;
  margin-left: 1rem;
}

.btnSignIn3 a {
  color: #0056b3;
  padding: 10px 27px;
}

.btnSignIn3:hover {
  background-color: #063c75;
  border: 1px solid #063c75;
}

.btnSignIn3 a:hover {
  color: #fff;
}

.loginBox {
  padding-top: 50px;
}

.formLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  position: relative;
  font-size: medium;
  letter-spacing: 1.1;
  margin-bottom: 10rem;
}

.loginBox h2 {
  margin: 0;
  margin-bottom: 10px;
  width: 100%;
  font-family: "brand";
  font-size: 35px;
  text-align: center;
}

.banner h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  width: 100%;
  font-family: "brand";
  font-size: 35px;
}

.loginBox h4 {
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "brand";
  color: #0056b3;
  font-size: 25px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h4 {
  width: 100%;
  margin: 0;
  text-align: center;
  font-family: "brand";
  color: #0056b3;
  font-size: 25px;
}

.options {
  padding: 10px 0 5px 0;
}

.loginBox p {
  width: 100%;
  justify-content: center;
  font-size: small;
  margin: 10px;
  margin-left: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: "text";
  letter-spacing: 1px;
}

.banner {
  padding-top: 8rem;
  margin: 0;
  /* margin-bottom: 10px; */
  width: 100%;
  font-family: "brand";
  font-size: 26px;
  letter-spacing: 1.5;
}

.bannerAdmin {
  padding-top: 6rem;
  margin-bottom: -1.5rem;
}

.bannerCheckout {
  padding-top: 8rem;
  margin: 0;
  width: 100%;
  font-size: 26px;
  letter-spacing: 1.5;
}

.bannerCheckout h2 {
  padding: 0;
  margin: 0;
  font-family: "brand";
}

.bannerNote {
  /* padding-top: 1rem; */
  color: #5e5e5e;
  font-family: "button", sans-serif;
  letter-spacing: 0.5;
  line-height: 1.5;
  text-align: left;
  inline-size: 30em;
  font-size: medium;
  padding-top: 1rem;
}

.bannerNoteCar {
  /* padding-top: 1rem; */
  color: #5e5e5e;
  font-family: "button", sans-serif;
  letter-spacing: 0.5;
  line-height: 1.5;
  text-align: left;
  inline-size: 40em;
  font-size: medium;
  padding-top: 1rem;
  margin-top: 7rem;
  z-index: 10;
}

.bannerNoteReset {
  margin-bottom: 20rem;
  min-height: 25%;
}

.bannerNoteCheckout {
  color: #5e5e5e;
  text-align: left;
  display: flex;
  padding-top: 10px;
  /* margin-bottom: 2rem; */
  float: left;
}

.bannerNoteAbout {
  margin-bottom: 15rem;
}

.bannerNoteCheckout a {
  color: #5e5e5e;
  font-family: "button", sans-serif;
  letter-spacing: 0.5;
  line-height: 1.5;
  text-align: left;
  font-size: medium;
  display: flex;
  margin-left: 10px;
}

.bannerNoteCheckout:hover {
  color: #0056b3;
}

.bannerNoteCheckout a:hover {
  color: #0056b3;
}

.btnPay {
  background-color: #0056b3;
  border: 1px solid #0056b3;
  border-radius: 5px;
  font-size: medium;
  width: 100%;
  height: 35px;
}

.btnPay a {
  color: #fff;
}

.btnPay:hover {
  background-color: #063c75;
  border: 1px solid #063c75;
  /* color: #0056b3; */
}

.number {
  color: #fe7768;
  font-size: large;
  font-family: "heading1";
}

.note {
  color: #5e5e5e;
  font-family: "button", sans-serif;
  letter-spacing: 0.5;
  line-height: 1.3;
  font-size: medium;
  text-align: left;
  inline-size: 70em;
}

.contactNum {
  color: #0056b3;
  font-size: medium;
  font-family: "button", sans-serif;
  inline-size: 35rem;
  letter-spacing: 0.5px;
  line-height: 1.5rem;
}

.contentContact {
  letter-spacing: 1.3px;
}

.contentContactHeader {
  font-family: "brand", sans-serif;
  margin-bottom: -1em;
}

.profileBookingHeader {
  font-family: "brand", sans-serif;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.step {
  font-family: "Bitter", sans-serif;
  letter-spacing: 1.3px;
  text-align: center;
  line-height: 3.2rem;
}

.contentHome {
  justify-content: center;
  text-align: center;
  margin: 1rem 3rem;
}

.rowHome {
  display: flex;
  position: relative;
  /* margin-bottom: 10rem; */
  flex-wrap: wrap;
  justify-content: center;
  margin: 28rem 0 10rem 0;
  text-align: center;
}

.rowSearch {
  display: flex;
  position: relative;
  margin: 0;
  justify-content: space-between;
  text-align: center;
}

.rowSearchCar {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
}

.editdelete {
  display: flex;
  position: relative;
  justify-content: space-between;
  text-align: center;
}

.bannerSearch {
  margin-top: 2rem;
  font-family: "brand", sans-serif;
  font-size: 22px;
  float: left;
  margin-left: 23.3rem;
  letter-spacing: 1.5;
}

.formSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  position: relative;
  font-size: medium;
  letter-spacing: 1.1;
  margin-bottom: 1rem;
  float: right;
}

.inputSearch {
  margin: 10px;
  /* width: max-content; */
}

.searchBox {
  margin-right: 1.5rem;
  z-index: 10;
}

.searchDetails {
  /* align-items: flex-start; */
  color: #0056b3;
  font-family: "text", sans-serif;
  font-size: medium;
}

.rowDetails {
  margin-bottom: 2.8rem;
}

.rowDetailsCheckout {
  margin-top: 5rem;
}

.searchDetails1 {
  margin-left: 10px;
  float: left;
  margin-bottom: -0.9rem;
}

.searchDetails2 {
  margin-right: 70px;
  float: right;
  margin-bottom: -0.9rem;
}

.searchDetails3 {
  /* margin-top: -1.8rem; */
  margin-left: 1rem;
  float: left;
  margin-bottom: -0.5rem;
}

.searchDetails4 {
  margin-left: 1rem;
  margin-bottom: -0.5rem;
  float: left;
}

.searchDetails5 {
  margin-left: 1rem;
  float: inline-start;
}

.searchDetails6 {
  margin-left: 1rem;
  float: inline-start;
}

.searchBoxCar input {
  margin: 0 5px;
  width: 157px;
}

.btnSearch {
  margin: 10px;
  background: #0056b3;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #0056b3;
  border-color: #0056b3;
  width: 95.5%;
  height: 35px;
  text-align: center;
  font-size: medium;
}

.btnSearchCar {
  margin: 20px 10px 10px 10px;
  background: #0056b3;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #0056b3;
  border-color: #0056b3;
  width: 97%;
  height: 35px;

  /* float: right; */
  font-size: medium;
}

/* buttonFloatRight
  width: 150px;
  height: 32px;
  text-align: center;
  justify-content: center;
  align-items: center;
  float: right; */

.formSearchCar {
  /* 100% or center */
  margin-top: 2rem;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 0.2rem;
  position: relative;
  font-size: medium;
  letter-spacing: 1.1;
  /* float: left; */
}

.btnSearch:hover {
  background-color: #fe7768;
  border: 2px solid #fe7768;
  color: #fff;
}

.btnSearchCar:hover {
  background-color: #063c75;
  border: 2px solid #063c75;
  color: #fff;
}

.stepNote {
  font-family: "text", sans-serif;
  inline-size: 18rem;
  color: #5e5e5e;
  text-align: center;
}

.welcomeNote {
  color: #5e5e5e;
}

.stepHeader {
  color: #242424;
  font-size: 23px;
  font-family: "Bitter", serif;
  text-align: center;
  line-height: 1.2rem;
}

.contact {
  font-family: "Bitter", sans-serif;
  letter-spacing: 1.3px;
  line-height: 3.2rem;
}

input {
  display: block;
  border: 1px solid #ccc;
  background-color: #f3f4f4;
  width: 100%;
  height: 32px;
  padding: 10px;
  margin: 10px 0px 5px 0px;
  border-radius: 5px;
  letter-spacing: 1.1px;
}

input:hover {
  border: 1px solid #0056b3;
}

input:focus {
  outline: none !important;
  border: 1px solid #0056b3;
  box-shadow: 0 0 10px #7199ce;
}

input:valid {
  border: 1px solid #0056b3;
}

.reset {
  float: right;
  color: #0056b3;
  font-size: x-small;
  padding: 0;
  padding-right: 2px;
  text-transform: unset;
  font-family: "text";
}

.reset:hover {
  color: #242424;
}

button {
  letter-spacing: 1.1;
  font-family: "button";
}

.btnSignIn2 {
  margin-top: 10px;
  background: #0056b3;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #0056b3;
  border-color: #0056b3;
  width: 100%;
  height: 32px;
  text-align: center;
}

.btnSignIn2:hover {
  background-color: #063c75;
  border: 2px solid #063c75;
  color: #fff;
}

.btnRegister {
  color: #fff;
  background-color: #0056b3;
  border-radius: 5px;
  border-color: #0056b3;
  border: 1px solid #0056b3;
  width: 100%;
  margin-top: 10px;
  height: 32px;
}

.btnRegister:hover {
  background-color: #fe7768;
  border: 2px solid #fe7768;
}
.footer {
  align-items: center;
  background-color: #242424;
  display: flex;
  height: 5rem;
  justify-content: center;
  margin-top: 5rem;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
}

footer {
  background: #42a5f5;
  color: white;
  line-height: 50px;
  padding: 0 20px;
}
.footerNote {
  color: #fff;
  font-family: "heading1";
  font-size: small;
  letter-spacing: 0.8px;
}

main {
  margin: 0 7rem;
}

#formContact {
  display: block;
}

.formContactBody {
  margin: -12em 5rem 15rem 5rem;
  font-family: "button", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  padding: 30px;
  padding-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  min-width: 40%;
  float: right;
  z-index: 2;
}

.formContact-form-group {
  margin-bottom: 1rem;
}

.formContact-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.formContact-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.formContact-h3 {
  font-family: "text";
  letter-spacing: 1;
  margin-top: 0;
}

textarea.formContact-form-control {
  font-family: "button", sans-serif;
  height: 100px;
}

textarea {
  margin-top: 10px;
  width: 100%;
  height: 32px;
  letter-spacing: 1.1px;
}

textarea:hover {
  border: 1px solid #0056b3;
}

textarea:focus {
  outline: none !important;
  border: 1px solid #0056b3;
  box-shadow: 0 0 10px #7199ce;
}

textarea:valid {
  border: 1px solid #0056b3;
}

label.formContact-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.formContact-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
}

.formContact-btn {
  margin-top: 30px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
}

.formContact-btn-primary {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
}

.formContact-btn-primary:hover {
  color: #fff;
  background-color: #063c75;
  border-color: #063c75;
}

.formContact-btn-lg,
.formContact-btn-group-lg > .formContact-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.formContact-btn-block {
  display: block;
  width: 100%;
  height: 40px;
}

.formContact-btn-block + .formContact-btn-block {
  margin-top: 0.5rem;
}

.row {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 3rem;
  /* margin-left: 3rem; */
  justify-content: center;
  /* overflow-x: scroll; */
}

.cardCover {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  /* padding-top: 5rem; */
  /* justify-content: center; */
  /* padding: 1rem; */
}

.searchResults {
  color: #5e5e5e;
  font-family: "button", sans-serif;
  letter-spacing: 0.5;
  line-height: 1.5;
  /* text-align: left; */
  inline-size: 30em;
  font-size: medium;
  /* margin-bottom: 8rem; */
  margin-top: -2rem;
  width: 100%;
}

/* .cPic {
  float: right;
  height: 20em;
  padding-top: 2rem;
  padding-right: 10rem;
  margin: 5rem 0rem 0rem 40%;
  -webkit-transform: scaleX(-1);
  max-width: 55%;
  position: relative;
  transform: scaleX(-1);
} */

/* .contentHeading {
  font-family: "heading2";
  inline-size: 35rem;
  padding-top: 1rem;
} */

.card {
  background-color: #fff;
  height: max-content;
  margin: 1rem;
  width: 18rem;
  transition: 0.3s;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.cardTextCover {
  padding: 0 15px;
  font-family: "text", sans-serif;
  /* inline-size: 18rem; */
  line-height: 1.5rem;
  text-align: left;
  color: #242424;
}

.rowCheckout {
  display: flex;
  margin: 5rem 2rem 200px 0;
  /* border: #0056b3 solid; */
  box-shadow: 0 0 15px 0 #0000001a;
  width: auto;
  padding: 25px;
  height: 17.5rem;
  /* margin-bottom: 5rem; */
}

.rowCheckoutProfile {
  display: flex;
  margin-top: 1rem;
  margin-right: 1rem;
  /* border: #0056b3 solid; */
  box-shadow: 0 0 15px 0 #0000001a;
  width: auto;
  padding: 25px;
  height: 17.5rem;
  /* margin-bottom: 5rem; */
}

.rowCheckoutProfile :hover {
  display: flex;
  margin: 1rem 2rem 0 0;
  /* border: #0056b3 solid; */
  box-shadow: 0 0 15px 0 #0000001a;
  width: auto;
  padding: 25px;
  height: 17.5rem;
  /* margin-bottom: 5rem; */
}

.rowProfileBooking {
  display: flex;
  /* margin: 2rem 2rem 5rem 0; */
  /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); */
  width: auto;
  padding: 20px;
}

.rowProfileBooking:hover {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.cardCheckout-car {
  background-color: #fff;
  transition: 0.3s;
  margin: 0;
  padding: 0;
}

.cardCheckout-text {
  /* padding-bottom: 60px; */
  height: max-content;
  width: 22rem;
  transition: 0.3s;
  /* z-index: 10; */
  /* margin: 1rem; */
  /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); */
}

.cardCheckout-text2 {
  /* padding-bottom: 60px; */
  height: max-content;
  width: 15rem;
  transition: 0.3s;
  float: right;
  /* margin: 1rem; */
  /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); */
}

.cardCheckout-profile {
  /* padding-bottom: 60px; */
  margin-left: 2rem;
  height: max-content;
  transition: 0.3s;
  float: right;
  /* margin: 1rem; */
  /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); */
}

.cardCoverCheckout {
  display: flex;
  flex-direction: column;
}

.cardTextCoverCheckout {
  margin: 1rem 0;
  /* padding: 0 15px; */
  font-family: "text", sans-serif;
  line-height: 1.5rem;
  text-align: left;
  /* color: #242424; */
}

.cardTextCoverCheckout2 {
  font-family: "text", sans-serif;
  line-height: 1.5rem;
  text-align: left;
}

.cardTextCover {
  padding: 0 15px;
  /* inline-size: 18rem; */
  line-height: 1.5rem;
  text-align: left;
  color: #242424;
}

.cardTextCoverCheckout p {
  margin: 0;
}

.cardTextCoverCheckout h2 {
  padding: 15px 0 10px 0;
  font-size: 23px;
  font-family: "Bitter", serif;
  /* margin-top: -0.1em; */
  margin-bottom: -1rem;
}

.carPrice {
  font-size: 23px;
  font-family: "Bitter", serif;
  margin-top: -0.5em;
}

.carPriceTotal {
  color: #fc6e6e;
}

.carPriceCheckout {
  font-size: 23px;
  font-family: "Bitter", serif;
}

.carName {
  color: #212529;
  font-family: "text", sans-serif;
  font-size: 15px;
}

.perday {
  color: #5e5e5e;
  font-size: small;
  margin-top: -2em;
}

.perdayCheckout {
  font-family: "text", sans-serif;
  color: #5e5e5e;
  margin-top: -2em;
  font-size: small;
}

.mvr {
  color: #fc6e6e;
  font-family: "heading2";
}

.highlight {
  color: #6d6d6d;
  font-family: "button";
}

.mvrCheckout {
  color: #fc6e6e;
  font-family: "heading2";
  padding-top: 20px;
}

.mvr p {
  color: #fc6e6e;
  font-size: medium;
}

.imgCar {
  background-color: #fff;
  background-image: url("/images/blue-leaves.jpg");
  background-size: cover;
  max-width: 18rem;
}

.imgContainerCheckout {
  padding-right: 20px;
}

.btnBookAdmin {
  background-color: #267cd8;
  border: 1px #267cd8;
  border-radius: 5px;
  font-size: medium;
  width: 7em;
  height: 35px;
  float: right;
  z-index: 20;
  margin: -3.5rem;
  margin-right: 5px;
}

.btnEdit {
  background-color: #ced4da;
  /* background-color: #f3d967; */
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: medium;
  width: 120px;
  height: 35px;
  float: left;
  /* z-index: 20; */
  margin: 1rem 0 0 2rem;
  /* margin: -3.5rem; */
  /* margin-right: 1px; */
  /* margin-left: 20rem; */
}

.btnDelete {
  background-color: #fc6e6e;
  border: 1px #fc6e6e;
  border-radius: 5px;
  font-size: medium;
  width: 120px;
  height: 35px;
  float: right;
  margin-right: 5px;
}

.row p {
  padding: 0;
}

.btnBookAdmin a {
  color: #fff;
  padding: 5px;
}

.btnBookAdmin:hover {
  background-color: #0056b3;
}

.btnEdit a {
  color: #212529;
  padding: 5px;
}

.btnEdit:hover {
  background-color: #c5c6c7;
  /* background-color: #ffd620; */
}

.btnDeleteProfile {
  background-color: #fc6e6e;
  border: 1px #fc6e6e;
  border-radius: 5px;
  font-size: medium;
  width: 120px;
  height: 35px;
  float: right;
  margin-top: 1.5rem;
  margin-right: -0.5rem;
  /* margin-right: 5px; */
}

.btnDeleteProfile a {
  color: #fff;
  padding: 5px;
}

.btnDeleteProfile:hover {
  background-color: #ff5e5e;
}

.btnDelete a {
  color: #fff;
  padding: 5px;
}

.btnDelete:hover {
  background-color: #ff5e5e;
}

.back {
  width: 25px;
}

.paymentCover {
  float: right;
  display: flex;
  margin-left: 19rem;
  /* margin: -26rem 4rem 4rem 0; */
  /* border: #0056b3 solid; */
  /* box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1); */
  /* width: max-content; */
}

.profilePaymentCover {
  float: right;
  display: flex;
  margin-top: -17rem;
  /* margin-right: -3rem; */
}

.formUpload {
  /* width: 50%; */
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 3rem 0 10rem -9rem;
  float: left;
}

.formUpload label {
  margin-left: 5px;
  color: #0056b3;
  font-family: "text", sans-serif;
  font-size: 15px;
}

.formUploadGroup {
  width: 31.9em;
  margin-top: 20px;
}

.formUploadGroup-date {
  width: 70em;
  margin: 20px 10px 0 0;
}

.formUploadDate {
  width: 32.5em;
  display: flex;
}

.btnUpload {
  margin-top: 20px;
  background: #0056b3;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #0056b3;
  border-color: #0056b3;
  width: 98.3%;
  height: 35px;
  text-align: center;
  font-size: medium;
}

.btnUpload:hover {
  background: #063c75;
}

.fileImage {
  height: 42px;
}

/* Custom dropdown */
.locationDropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.locationDropdownAdmin {
  margin-top: -0.5rem;
  margin-left: -0.5rem;
  width: 100%;
}

.locationDropdownAdmin select {
  width: 100%;
}

.locationDropdown select {
  background-color: #f3f4f4;
  color: #212529;
  font-size: small;
  padding: 0.5em;
  border: 0;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: "";
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 5px;
  letter-spacing: 1.1px;
}

.locationDropdown::before,
.locationDropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.locationDropdown select[disabled] {
  color: rgba(0, 0, 0, 0.3);
}

.locationDropdown select[disabled]::after {
  color: rgba(0, 0, 0, 0.1);
}

.locationDropdown::before {
  background-color: rgba(0, 0, 0, 0.15);
}

.locationDropdown::after {
  color: rgba(0, 0, 0, 0.4);
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ee5f5b),
    to(#bd362f)
  );
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.dropdown {
  font-family: "button";
  position: relative;
  display: inline-block;
  min-width: 80px;
}

.dropdown-content {
  min-width: 80px;

  display: none;
  position: absolute;
  background-color: #ced4da;

  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 7px 20px;
  text-decoration: none;
  display: block;
  font-size: 15px;
}

.dropdown a:hover {
  background-color: #ced4da;
}

.show {
  display: block;
}

.btnEdit {
  background-color: #ced4da;
  /* background-color: #f3d967; */
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: medium;
  width: 120px;

  height: 35px;
  float: left;
  /* z-index: 20; */
  margin-left: 1px;
  /* margin: -3.5rem; */
  /* margin-right: 1px; */
  /* margin-left: 20rem; */
}
